.shop {
   background-color: white;
   background-image: #{"linear-gradient(45deg,hsl(var(--clr-green) / 0.05),hsl(var(--clr-green) / 0.05))"};
   padding-block: 3rem;
   margin-bottom: 6.25rem;
   .container {
      .products {
         flex-wrap: wrap;
         row-gap: 2rem;
         column-gap: 3rem;
         justify-content: center;

         .coffee {
            position: relative;
            width: calc((100% - 6rem) / 3);
            box-shadow: #{"0px 10px 17px rgba(35 57 55 / 17%)"};
            text-align: center;
            overflow: hidden;

            figcaption {
               position: absolute;
               width: 100%;
               left: 0;
               bottom: 0;
               padding-bottom: 1.5rem;
               color: #{"hsl(var(--clr-hard-green))"};

               & > :last-child {
                  font-family: "George Rounded";
                  font-weight: bold;
                  font-size: 1rem;
                  margin-top: 0.2rem;
               }
            }

            a {
               position: absolute;
               z-index: 1;
               width: 100%;
               height: 100%;
               top: 0;
               left: 0;
               &:where(:hover, :focus) ~ img{
                  transform: scale(1.1);
            }
            }
            img {
               transition: 0.5s ease-in-out;
            }
         }

         @media (max-width: 75em) {
            column-gap: 1rem;
            .coffee {
               width: calc((100% - 2rem) / 3);
            }
         }
         @media (max-width: 62em) {
            column-gap: 2rem;
            .coffee {
               width: calc((100% - 4rem) / 2);
            }
         }
         @media (max-width: 48em) {
            column-gap: 1rem;
            .coffee {
               width: calc((100% - 2rem) / 2);
            }
         }
         @media (max-width: 36em) {
            .coffee {
               width: #{"min(100%, 20rem)"};
            }
         }

      }
   }
}

.contactFotterShop {
   background-color: #{"hsl(var(--clr-yellow-pink))"};
}
